.getaways-container {
    max-width: 1000px;
    margin: 40px 55px;
    padding: 5px;
    background-color: white;
    border: 1px ;
    margin-top: -41%;
  }
  
  h2 {
    margin-top: 0;
    font-weight: bold;
    font-size: 24px;
    color: #333;
  }
  
  .categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .category {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
  }
  
  .category.active {
    background-color: #337ab7;
    color: #fff;
  }
  
  .category:hover {
    background-color: #f0f0f0;
  }
  
  .destinations {
    
    display: flex;
    flex-direction: row;
    flex-basis: 3;
    flex-wrap: wrap;
    margin-top: -15%;
    justify-content: space-around;
    padding: 15%;
    margin-left: -5%;
  }
  
  .destination {
    background-color: #fff;
    padding: 20px;
    border: 1px;
    justify-content: space-evenly;
    
  }
  
  .destination h3 {
    margin-top: 0;
    font-weight: bold;
    font-size: 18px;
    color: #333;
  }
  
  .destination p {
    font-size: 16px;
    color: #666;
  }
  
  .show-more {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #337ab7;
    color: #fff;
    cursor: pointer;
  }
  
  .show-more:hover {
    background-color: #23527c;
  }
.support-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: -4%;
    margin-left: 11%;
    font-size: 14px;
  }
  
  .support-section {
    width: 30%;
    margin-top: -9%;
  }
  
  .support-section h3 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .support-section ul {
    list-style: none;
    padding: 0;
  }
  
  .support-section li {
    margin-bottom: 5px;
  }
  
  .support-section a {
    text-decoration: none;
    color: #333;
  }
  
  .support-section a:hover {
    text-decoration: underline;
  }
 