* {
  box-sizing: border-box;
  margin: 1px;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
hr{
  position: absolute;
  width: 99%;
  bottom: 59%;
  left: 0.5%;
 
  
}
  
.index-line{
  position: absolute;
  bottom: 63%;
  width: 500px;
  
  
}




.slider-container {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 25px auto;
  overflow: hidden;
}

.icon-slider {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 87%;
  scrollbar-width: none; 
  
  position: absolute;
  bottom: 48%;
  left: 7%;
 
 
  
}

.icon-slider::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.icon {
  min-width: 40px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  margin: 10px;
  flex-shrink: 0;
}






